---
breadcrumb:
  - href: 'index.html'
    title: Your Fight Site
  - href: 'web-design.html'
    title: Web Design
  - active: true
    title: Boxing Web Design
excerpt: "Affordable website design for boxing promoters and gyms, backed up by 20 years’ experience."
layout: default
meta_title: Boxing web design from Your Fight Site
permalink: /boxing-web-design/
schema:
  '@context': 'https://schema.org'
  '@type': 'Product'
  description: 'Affordable website design for boxing promoters and gyms.'
  image: 'https://www.yourfightsite.com/img/logo@2x.png'
  name: Boxing Web Design
  offers:
    '@type': 'Offer'
    priceCurrency: 'GBP'
    price: 99.00
    url: 'https://yourfightsite.com/boxing-web-design'
title: Boxing Web Design
---
<div class="bg-body text-body" data-bs-theme="dark">
  <div class="container">
    {% include breadcrumb.html %}
  </div>
</div>
<main class="gap-5 mb-5 vstack" role="main">
  {% include hero.html title="Website design for boxing promoters and gyms" content="We have over 20 years’ experience designing websites for boxing promoters and gyms." %}
  <section id="features">
    <div class="container">
      <h2 class="mb-3">Features</h2>
      <div class="g-3 row row-cols-1 row-cols-md-2">
        {% include feature.html title="Custom website design" description="Get a professionally-designed website created just for your boxing promotion or gym." %}
        {% include feature.html title="Events" description="Easily manage your calendar of upcoming events, as well as add results for past events and fights." %}
        {% include feature.html title="Tickets" description="Sell tickets to upcoming events. Then check attendees in on show day using our mobile check-in app." %}
        {% include feature.html title="Fighters" description="Help fans get to know your stable of fighters better with fight records, statistics, social media links, and more." %}
        {% include feature.html title="Online store" description="We don’t sell e-commerce as an add-on; it comes with every website. Increase revenue by selling your own merchandise." %}
        {% include feature.html title="News" description="Keep fans updated on newly-signed fights, as well as breaking stories from your organisation or gym." %}
        {% capture vod_feature_title %}<abbr title="Video On Demand">VOD</abbr> integration{% endcapture %}
        {% capture vod_feature_description %}Because we have our own <a href="{% link video-on-demand.html %}">boxing <abbr title="Video On Demand">VOD</abbr> platform</a> we can seemlessly integrate your channel with your website.{% endcapture %}
        {% include feature.html title=vod_feature_title description=vod_feature_description %}
        {% include feature.html title="Cloud-hosted" description="Your website is secure, backed up, and won’t go down during important ticket-selling periods." %}
      </div>
    </div>
  </section>
  <div class="container">
    <hr class="my-0">
  </div>
  <section id="pricing">
    <div class="container">
      <h2 class="mb-1">How much does a boxing website cost?</h2>
      <p class="mb-4">We’ve distilled more than 20 years’ of boxing web design experience into an easy-to-use platform.</p>
      {% include website-pricing.html %}
    </div>
  </section>
</main>
