---
breadcrumb:
  - href: 'index.html'
    title: Your Fight Site
  - active: true
    title: Video On Demand
excerpt: "Video on demand platform created for wrestling, MMA, and boxing promoters. Upload and monetise your video content today."
layout: default
meta_title: Video on demand platform from Your Fight Site
permalink: /video-on-demand/
schema:
  '@context': 'https://schema.org'
  '@type': 'Product'
  description: 'Video on demand platform carrying wrestling, MMA, and boxing video content.'
  image: 'https://www.yourfightsite.com/img/logo@2x.png'
  name: Video On Demand
title: Your Fight Site VOD
---
<div class="bg-body text-body" data-bs-theme="dark">
  <div class="container">
    {% include breadcrumb.html %}
  </div>
</div>
<main role="main">
  <div class="gap-5 mb-5 vstack">
    {% capture hero_title %}Sell your wrestling, <abbr title="Mixed Martial Arts">MMA</abbr>, or boxing video content online{% endcapture %}
    {% capture hero_cta %}
      <a class="btn btn-lg btn-primary" href="https://vod.yourfightsite.com/channels/create?utm_source=yourfightsite.com&utm_medium=web&utm_campaign=create_channel&utm_content=hero_cta" target="_blank" title="Create a video on demand channel">
        <span>Get started</span>
        <span aria-hidden="true" class="bi bi-chevron-right"></span>
      </a>
    {% endcapture %}
    {% include hero.html title=hero_title content="Create your own video on demand channel for free today. Then easily upload your video content to be sold via rentals and subscriptions." cta=hero_cta %}
    <section id="summary">
      <div class="container">
        <div class="last-child-mb-0 prose">
          <h2>A video on demand platform.<br>Built for you, by you.</h2>
          <p>We work closely with all customers on Your Fight Site <abbr title="Video On Demand">VOD</abbr>&trade;. Our aim is to build the best video on demand service for wrestling, <abbr title="Mixed Martial Arts">MMA</abbr>, boxing, and combat sports promoters and gyms.</p>
          <p>We build new features quickly, act on customers’ feedback, and can build custom integrations for your existing websites and services. What other video on demand service can claim that level of partnership?</p>
        </div>
      </div>
    </section>
    <!--
      TODO: Video on demand features
    -->
    <section id="testimonial">
      <div class="container">
        <figure class="border-5 border-start mb-0 prose ps-3">
          <blockquote class="mb-0">
            <p class="mb-1">Using Your Fight Site <abbr title="Video On Demand">VOD</abbr>&trade; has been brilliant. The support is there whenever we’ve needed it, there’s no set-up costs, and the platform is simple and clear to use. We’ve used the service for over three years now and couldn’t be happier with it.</p>
            <figcaption class="blockquote-footer mb-0 mt-0 text-body-secondary">
              <cite class="fst-normal">Pro Wrestling Chaos</cite>
            </figcaption>
          </blockquote>
        </figure>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="d-grid d-md-flex">
          <a class="btn btn-lg btn-primary d-md-none" href="https://vod.yourfightsite.com/channels/create?utm_source=yourfightsite.com&utm_medium=web&utm_campaign=create_channel&utm_content=get_started_cta">
            <span class="me-1">Create a <abbr title="Video On Demand">VOD</abbr> channel for free</span>
            <span aria-hidden="true" class="bi bi-chevron-right"></span>
          </a>
          <a class="btn btn-lg btn-primary d-none d-md-inline-flex" href="https://vod.yourfightsite.com/channels/create?utm_source=yourfightsite.com&utm_medium=web&utm_campaign=create_channel&utm_content=get_started_cta">
            <span class="me-1">Create a video on demand channel for free</span>
            <span aria-hidden="true" class="bi bi-chevron-right"></span>
          </a>
        </div>
      </div>
    </section>
  </div>
</main>
