{% if page.schema %}
  <script type="application/ld+json">{{ page.schema | jsonify }}</script>
{% endif %}
<footer class="bg-body-secondary border-top flex-shrink-0 footer py-5" role="contentinfo">
  <div class="container">
    <div class="gap-4 vstack">
      <section>
        <h3 class="visually-hidden">Follow Your Fight Site on social media:</h3>
        <ul class="list-inline mb-0">
          {% include social-media-link.html href="https://x.com/yourfightsite" icon="twitter-x" platform="X (formerly Twitter)" %}
          {% include social-media-link.html href="https://www.facebook.com/yourfightsite" platform="Facebook" %}
          {% include social-media-link.html href="https://www.instagram.com/yourfightsite" platform="Instagram" %}
          {% include social-media-link.html href="https://www.threads.net/@yourfightsite" platform="Threads" %}
          {% include social-media-link.html href="https://www.youtube.com/@yourfightsite" platform="YouTube" %}
          {% include social-media-link.html href="https://www.linkedin.com/company/yourfightsite" platform="LinkedIn" %}
        </ul>
      </section>
      <section>
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a href="{% link privacy.html %}">Privacy policy</a>
          </li>
          <li class="list-inline-item">
            <a href="{% link terms.html %}">Terms and conditions</a>
          </li>
        </ul>
      </section>
      <section>
        <p class="mb-0">&copy; {{ 'now' | date: '%Y' }} Your Fight Site. All rights reserved.</p>
        <p class="mb-0 small">Your Fight Site is a limited company registered in England &amp; Wales. Company number 10928224.</p>
      </section>
    </div>
  </div>
</footer>
