<header class="flex-shrink-0" role="banner">
  <div class="bg-body navbar navbar-expand text-body" data-bs-theme="dark">
    <div class="container">
      <a class="navbar-brand" href="{% link index.html %}" title="Your Fight Site home">
        <img src="/img/logo@2x.png" alt="Your Fight Site" width="109" height="60" class="d-block">
      </a>
      <button aria-controls="app-navbar-content" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#app-navbar-content" data-bs-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="app-navbar-content">
        <ul aria-label="Main navigation" class="navbar-nav me-auto" id="navigation" role="navigation">
          <li class="d-none d-md-inline-flex nav-item">
            <a class="{% if page.name == 'index.html' %}active {% endif %}nav-link" href="{% link index.html %}">Home</a>
          </li>
          <li class="dropdown nav-item">
            <a aria-expanded="false" class="{% if page.name == 'wrestling-web-design.html' or page.name == 'mma-web-design.html' or page.name == 'boxing-web-design.html' %}active {% endif %}-toggle d-inline-flex gap-1 nav-link" data-bs-toggle="dropdown" href="#" role="button">
              <span>Web Design</span>
              <span aria-hidden="true" class="bi bi-chevron-expand"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="{% if page.name == 'wrestling-web-design.html' %}active {% endif %}dropdown-item" href="{% link wrestling-web-design.html %}">Wrestling Web Design</a>
              </li>
              <li>
                <a class="{% if page.name == 'mma-web-design.html' %}active {% endif %}dropdown-item" href="{% link mma-web-design.html %}"><abbr title="Mixed Martial Arts">MMA</abbr> Web Design</a>
              </li>
              <li>
                <a class="{% if page.name == 'boxing-web-design.html' %}active {% endif %}dropdown-item" href="{% link boxing-web-design.html %}">Boxing Web Design</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="{% if page.name == 'video-on-demand.html' %}active {% endif %}nav-link" href="{% link video-on-demand.html %}">
              <abbr title="Video On Demand">VOD</abbr>
            </a>
          </li>
        </ul>
        <div class="ms-auto">
          <a class="btn btn-primary" data-bs-toggle="modal" href="#quote">Get quote</a>
        </div>
      </div>
    </div>
  </div>
</header>
