<div class="border-0 card card-pricing" data-bs-theme="dark">
  <div class="card-body py-0">
    <dl class="m-0">
      <div class="row row-cols-2">
        <div class="col position-relative py-3">
          <dt class="fw-normal m-0">Design and set-up</dt>
          <dd class="m-0 text-body-emphasis">
            <span class="fs-4 fw-bold">&pound;99</span>
          </dd>
        </div>
        <div class="col py-3">
          <dt class="fw-normal m-0">Hosting</dt>
          <dd class="m-0 text-body-emphasis">
            <span class="fs-4 fw-bold">&pound;4.99</span>
            <span class="small">per month</span>
          </dd>
        </div>
      </div>
    </dl>
  </div>
</div>
