@import "variables";
@import "custom";

a {
  text-decoration-thickness: .0625rem;
  text-underline-offset: .1875rem;

  &:hover {
    text-decoration-skip: none;
    text-decoration-thickness: .1875rem;
  }
}

abbr[title] {
  text-decoration: none;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

.bg-body-secondary {
  --bs-secondary-bg-rgb: 243,242,241;
}

.breadcrumb {
  --bs-link-color: var(--bs-body-color);
  --bs-link-color-rgb: var(--bs-body-color-rgb);
  --bs-link-hover-color: var(--bs-link-color);
  --bs-link-hover-color-rgb: var(--bs-link-color-rgb);
}

.btn:not(.btn-link) {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  text-transform: uppercase;
}

.card-body {
  a {
    color: var(--bs-emphasis-color);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      text-decoration-thickness: .1875rem;
      text-underline-offset: .25rem;
    }
  }
}

.card-pricing {
  .col:first-child::after {
    content: "";
    background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 85%);
    position: absolute;
    top: 0;
    right: 1rem;
    bottom: 0;
    width: 4rem;
    clip-path: polygon(0% 0%, 2.5rem 0, 100% 50%, 2.5rem 100%, 0% 100%);
    opacity: .2;
  }
}

.client-list-item {
  a {
    opacity: .75;
    &:hover {
      opacity: 1;
    }
  }

  &-academy-pro-wrestling img { height: 50px; }
  &-atomic-pro-wrestling img { height: 80px; }
  &-attack-pro-wrestling img { height: 80px; }
  &-black-country-championship-wrestling img { height: 70px; }
  &-branded-outlaw-wrestling img { height: 80px; }
  &-british-championship-wrestling img { height: 80px; }
  &-fight-factory-pro-wrestling img { height: 80px; }
  &-fight-factory-wrestling img { height: 80px; }
  &-independent-wrestling-universe img { height: 50px; }
  &-kamikaze-pro img { height: 80px; }
  &-ldn-wrestling img { height: 80px; }
  &-lion-wrestling-promotions img { height: 80px; }
  &-new-wave-wrestling-academy img { height: 50px; }
  &-premier-british-wrestling img { height: 40px; }
  &-premium-wrestling-entertainment img { height: 60px; }
  &-pro-wrestling-4-u img { height: 40px; }
  &-pro-wrestling-chaos img { height: 80px; }
  &-pro-wrestling-karnage img { height: 60px; }
  &-shropshire-wrestling-alliance img { height: 80px; }
  &-spotfest-wrestling-events img { height: 50px; }
  &-south-west-wrestling img { height: 40px; }
  &-tnt-extreme-wrestling img { height: 80px; }
  &-uk-wrestling-alliance img { height: 50px; }
  &-ultimate-championship-wrestling img { height: 70px; }
  &-winnipeg-pro-wrestling img { height: 40px; }
  &-wrestling-in-hinckley img { height: 80px; }
}

.hero-text {
  font-size: 1.125rem;
}

.last-child-mb-0 > :last-child {
  margin-bottom: 0 !important;
}

.navbar-nav {
  .nav-link {
    font-family: $headings-font-family;
    font-size: 1.125rem;
    font-weight: $headings-font-weight;
    text-decoration: none;
    text-transform: uppercase;
    text-underline-offset: .25rem;
    -webkit-font-smoothing: antialiased;

    &:hover {
      text-decoration: underline;
      text-decoration-skip: none;
      text-decoration-thickness: .1875rem;
    }
  }
}

.page {
  max-width: 45rem;

  li {
    list-style-type: square;
  }

  li + li {
    margin-top: .25rem;
  }
}

.prose {
  max-width: 45rem;
}

.social-media-link {
  color: white;
  background-color: var(--bs-link-color);
  width: 1em;
  height: 1em;
  &:hover {
    background-color: var(--bs-link-hover-color);
  }
}
