@font-face {
  font-family: 'Quantico';
  src: url('../fonts/quantico-400.woff2') format('woff2'),
       url('../fonts/quantico-400.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quantico';
  src: url('../fonts/quantico-700.woff2') format('woff2'),
       url('../fonts/quantico-700.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
