$enable-caret: false;
$enable-negative-margins: true;

$black: #0d0d0d;
$white: #fff;

$red: #d4351c;
$green: #00703c;
$blue: #1d70b8;
$yellow: #fd0;

$primary: $red;
$dark: $black;

$body-color: $black;

$link-color: $blue;

$grid-gutter-width: 1rem;

$container-padding-x: $grid-gutter-width * 2;

$border-color: #b1b4b6;

$border-radius-sm: .1875rem;
$border-radius: $border-radius-sm;
$border-radius-lg: .25rem;

$component-active-color: $white;
$component-active-bg: $blue;

$focus-ring-color: rgba($blue, .25);

$headings-font-family: "Quantico", sans-serif;
$headings-font-weight: 400;

$btn-font-weight: 500;
$btn-transition: none;

$input-transition: none;

$legend-font-size: 1.125rem;
$legend-font-weight: 700;

$nav-link-transition: none;

$navbar-padding-y: 1rem;
$navbar-dark-color: $white;
$navbar-dark-hover-color: $navbar-dark-color;
$navbar-dark-active-color: $primary;

$breadcrumb-font-size: .875rem;
$breadcrumb-divider: "\203A";
$breadcrumb-active-color: var(--bs-emphasis-color);
$breadcrumb-margin-bottom: 0;

$body-bg-dark: $dark;

$modal-backdrop-opacity: .9;
