.client-list {
  @extend .list-inline;
}

.client-item {
  @extend .list-inline-item;
}

.client-item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  opacity: .6;
  @include transition(opacity .3s);

  @include hover-focus {
    opacity: 1;
  }

  &:not(:last-child) {
    margin-right: $grid-gutter-width;
    margin-bottom: $spacer;
  }

  &-academy-pro-wrestling {
    background-image: url(../img/clients/academy-pro-wrestling.png);
    width: 128px;
  }

  &-attack-pro-wrestling {
    background-image: url(../img/clients/attack-pro-wrestling.png);
    width: 80px;
  }

  &-british-championship-wrestling {
    background-image: url(../img/clients/british-championship-wrestling.png);
    width: 103px;
  }

  &-fight-factory-pro-wrestling {
    background-image: url(../img/clients/fight-factory-pro-wrestling.png);
    width: 88px;
  }

  &-fight-factory-wrestling {
    background-image: url(../img/clients/fight-factory-wrestling.png);
    width: 88px;
  }

  &-kamikaze-pro {
    background-image: url(../img/clients/kamikaze-pro.png);
    width: 80px;
  }

  &-ldn-wrestling {
    background-image: url(../img/clients/ldn-wrestling.png);
    width: 119px;
  }

  &-lion-wrestling-promotions {
    background-image: url(../img/clients/lion-wrestling-promotions.png);
    width: 110px;
  }

  &-new-wave-wrestling-academy {
    background-image: url(../img/clients/new-wave-wrestling-academy.png);
    width: 160px;
  }

  &-premier-british-wrestling {
    background-image: url(../img/clients/premier-british-wrestling.png);
    width: 116px;
  }

  &-premium-wrestling-entertainment {
    background-image: url(../img/clients/premium-wrestling-entertainment.png);
    width: 110px;
  }

  &-preston-city-wrestling {
    background-image: url(../img/clients/preston-city-wrestling.png);
    width: 81px;
  }

  &-pro-wrestling-4-u {
    background-image: url(../img/clients/pro-wrestling-4-u.png);
    width: 90px;
  }

  &-pro-wrestling-chaos {
    background-image: url(../img/clients/pro-wrestling-chaos.png);
    width: 68px;
  }

  &-rumble-wrestling-promotions {
    background-image: url(../img/clients/rumble-wrestling-promotions.png);
    width: 122px;
  }

  &-shropshire-wrestling-alliance {
    background-image: url(../img/clients/shropshire-wrestling-alliance.png);
    width: 80px;
  }

  &-spotfest-wrestling-events {
    background-image: url(../img/clients/spotfest-wrestling-events.png);
    width: 185px;
  }

  &-tnt-extreme-wrestling {
    background-image: url(../img/clients/tnt-extreme-wrestling.png);
    width: 87px;
  }

  &-uk-wrestling-alliance {
    background-image: url(../img/clients/uk-wrestling-alliance.png);
    width: 123px;
  }

  &-ultimate-championship-wrestling {
    background-image: url(../img/clients/ultimate-championship-wrestling.png);
    width: 97px;
  }

  &-winnipeg-pro-wrestling {
    background-image: url(../img/clients/winnipeg-pro-wrestling.png);
    width: 200px;
  }

  &-wrestling-in-hinckley {
    background-image: url(../img/clients/wrestling-in-hinckley.png);
    width: 79px;
  }
}

.client-link {
  display: inline-block;
  width: 100%;
  height: 80px;
}

.client-name {
  @extend .sr-only;
}
